<div class="modal-overlay show">
    <div class="modal">

        <div class="mensaje-satisfactorio">
            <div class="mensaje-satisfactorio-icono">
                <i class="fas fa-check"></i>
            </div>
            <div class="mensaje-satisfactorio-texto">{{title}}</div>
            <br>
            <div><b>{{subtitle}}</b></div>
            <div>Esta acción es irreversible</div>
            <div class="espacio-abajo"></div>
            <div class="modal-datos-contracargo-content-botones">
                <div class="espacio"></div>

                <div class="modal-datos-contracargo-content-botones-item">
                    <button class="boton-rechazar-nuevo"
                        (click)="onCancelOperation()">Cancelar</button>
                </div>

                <div class="espacio-izquierda"></div>

                <div class="modal-datos-contracargo-content-botones-item">
                    <button class="boton-gestion-caso boton-aceptar-nuevo"
                        (click)="onConfirmAction()"> Guardar   
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>