.titulo-seccion {
  margin-left: 62px;
  margin-top: 80px;

  font-weight: 600;
  font-size: 22px;
  line-height: 21px;
}

.container-configuraciones {
  padding-top: 40px;
  /* padding-top: 130px; */
}

.espacio-costado {
  margin-left: 3px;
}

/* ubicacion seccion lista desplegable - boton descarga - input buscador*/
.herramientas-content {
  margin: 25px 0px 0px 50px;
  display: flex;
  flex-direction: row;
}

.herramientas-content-element {
  margin-right: 55px;
}

.container-filtros {
  margin-left: 56px;
}

/* ubcacion seccion tabla */
.tabla-content {
  /* margin: 20px 0px 0px 60px; */
  background-color: white;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 60px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dcdfe4;
}

.tabla-content-element {
  overflow-x: auto;
  width: 100%;
  position: relative;
}

.tabla-content-paginacion {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.tabla-contracargos {
  width: 60%;
  border-collapse: collapse;
}

.tabla-contracargos th,
.tabla-contracargos td {
  padding: 8px;
  text-align: center;
  max-width: 70px;
}

.tabla-contracargos th:first-child,
.tabla-contracargos td:first-child {
  max-width: 30px;
}

.tabla-contracargos th:nth-child(2),
.tabla-contracargos td:nth-child(2) {
  min-width: 250px;
}

.tabla-contracargos input[type="checkbox"] {
  margin: 0 auto;
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.tabla-contracargos input[type="checkbox"]:checked {
  background-color: var(--color-secundario);
}

.mass-editor-container {
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-bottom: -50px;
  /* width: 100%; */
}
.mass-editor-container.hidden {
  display: none;
}

.actions-container {
  display: flex;
  width: 100%;
  justify-content: end;
  min-height: 100px;
}

.actions-container.monto-input-visible {
  justify-content: space-between;
}

.boton-guardar {
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boton-guardar:hover {
  background-color: var(--color-secundario-clarito2);
}
.boton-guardar:disabled {
  background-color: var(--color-apoyo2);
  color: var(--color-apoyo1);
}

.align-end {
  display: flex;
  align-items: end;
}

.options-radio.col {
    padding-left: 0px;
    margin-left: 0px;
}

.options-radio {
  margin-top: 0;
}

/* Estilos para cuando el radio está seleccionado */
input[type="checkbox"].custom-checkbox {
    display: none;
}

input[type="checkbox"]:checked+.checkmark::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--color-secundario);
    /* Color del círculo seleccionado */
    border-radius: 50%;
}

.monto-input {
  width: 248px;
}

.options-radio-element {
  margin-right: 18px;
}

.monto-input-wrapper::before {
  top: 48%;
  font-weight: 300;
  color: gray;
}

.monto-input-wrapper.darker::before {
  font-weight: 400;
  color: black;
}



.boton-aceptar-nuevo{
  background-color: var(--color-secundario);

}

.boton-aceptar-nuevo:hover{
  background-color: #005896;
  color: white;
}


@media (max-width: 990px){
  .titulo-seccion{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .tabla-content {
    margin-top: 10px;
    margin-left: 20px;
  }

  
  .mass-editor-container{
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 460px){
  .tabla-content {
    margin-top: 30px;
  }

  .mass-editor-container{
    margin-bottom: 0px;
  }

  .titulo-seccion{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 350px){
  .titulo-seccion{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-top: 30px;
  }


}