.content-config-monto{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.spinner-wrapper{
    display: flex;
    min-height: 133px;
    margin-top: 30px;
    justify-content: center;
}

.config-botones{
	display: flex;
	width: 100%;
	gap: 14px;
	justify-content: end;
	padding-right: 20px;
}

.config-botones-item{
	display: flex;
}


.update-finished{
    display: flex;
    flex-direction: column;
    min-height: 133px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.monto-input-wrapper::before {
  font-weight: 300;
  color: gray;
}

.monto-input-wrapper.darker::before {
  font-weight: 400;
  color: black;
}

/* Estilos para cuando el radio está seleccionado */
input[type="checkbox"].custom-checkbox {
    display: none;
}

input[type="checkbox"]:checked+.checkmark::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--color-secundario);
    /* Color del círculo seleccionado */
    border-radius: 50%;
}