<div class="modal-container">
    <div class="modal-content">
        <div class="modal-content-cuerpo">
            <div class="cuerpo-scrollable">

                <div class="modal-content-cabecera">
                    <span class="modal-content-titulo">Configurar Subcomercio</span>
                    <button class="modal-close" (click)="closeModal()">
                        <svg class="close-modal-icon" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                            <path
                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                        </svg>
                    </button>
                </div>

                <div class="modal-datos-contracargo-box">
                    <div class="modal-datos-contracargo-content cabecera">
                        <div *ngIf="subcomercio" class="modal-datos-contracargo-content-cabecera">
                            <div class="item">
                                <div class="cabecera-nombre">Subcomercio</div>
                                <div class="cabecera-valor">
                                    {{subcomercio.nombreFantasiaLocal}}
                                </div>
                            </div>
                            <div class="item">
                                <div class="cabecera-nombre">Monto mínimo actual</div>
                                <div class="cabecera-valor">
                                    $ {{formatearMonto(subcomercio.montoMinimo)}}
                                </div>
                            </div>
                            <div class="item">
                                <div class="cabecera-estado">ID: {{subcomercio.id}}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="!loadingUpdate && !mensajeResultado" class="content-config-monto">
                    <h5>Monto Minimo</h5>
                    <div class="monto-input-wrapper" [class.darker]="!!montoInput && !montoComercioCheckbox">
                        <input type="text" class="monto-input" placeholder="Monto minimo" [(ngModel)]="montoInput"
                            name="montoInput" [disabled]="montoComercioCheckbox">
                        <div *ngIf="isInputInvalid" class="monto-error-message">Solo valores enteros no negativos.</div>
                    </div>
                    <div class="options-radio col">
                        <div class="options-radio-element">
                            <label for="option1-modal" class="checkbox-monto-comercio">
                                <input class="custom-checkbox" type="checkbox" id="option1-modal" name="option1-modal"
                                    [(ngModel)]="montoComercioCheckbox" #booleanField="ngModel">
                                <span class="checkmark"></span>
                                <span>Establecer monto mínimo por defecto ($ {{formatearMonto(comercio.montoMinimo)}})
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!loadingUpdate && !mensajeResultado" class="config-botones">
                <div class="config-botones-item elemento-ocultable">
                    <button (click)="closeModal()" class="boton-cancelar ">
                        Cancelar
                    </button>
                </div>
                <div class="config-botones-item">
                    <button (click)="onClickGuardar()" class="boton-gestion-caso boton-aceptar-nuevo" [disabled]="guardarDisabled">
                        Guardar
                    </button>
                </div>
            </div>

            <div *ngIf="!loadingUpdate && mensajeResultado" class="update-finished mensaje-satisfactorio">
                <div class="mensaje-satisfactorio-icono">
                    <i class="fas fa-check"></i>
                </div>
                <div class="mensaje-satisfactorio-texto">
                    {{ mensajeResultado}}
                </div>
                <div class="espacio-abajo"></div>
                <div class="config-botones-item">
                    <button (click)="closeModal()" class="boton-guardar">
                        Cerrar
                    </button>
                </div>
            </div>


            <div *ngIf="loadingUpdate" class="spinner-wrapper">
                <div class="spinner"></div>
            </div>


            <div class="espacio-abajo"></div>

        </div>
    </div>