/* Buton cancelar sin fondo, letra azul*/
.boton-cancelar {
    color: var(--color-secundario);
    background-color: white;
    border: none;
    font-weight: 500;
    size: 13px;
    line-height: 21.03px;
}





/* Boton guardar cambios azul*/
.boton-guardar {
    background-color: var(--color-secundario);
    color: white;
    border: none;
    font-weight: 500;
    size: 13px;
    line-height: 21.03px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}




/* BOTON */
.boton-notificar {
    color: var(--color-secundario);
    background-color: white;
    border: solid 1px var(--color-secundario);
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    font-weight: 500;
    size: 13px;
    line-height: 21.03px;
    transition: all 0.5s;
    cursor: pointer;
}

.boton-notificar:hover {
    background-color: var(--color-apoyo1);
}

.boton-gestion-caso {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    font-weight: 700;
    size: 13px;
    line-height: 21.03px;
    transition: all 1s;
}

.boton-gestion-caso:hover {
    color: var(--color-apoyo3);
}


.boton-aceptar-nuevo{
    background-color: var(--color-secundario);

}

.boton-aceptar-nuevo:hover{
    background-color: #005896;
    color: white;
}


.boton-rechazar-nuevo{
    color: var(--color-secundario);
    border: none;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    border: 1px solid var(--color-secundario);
    font-weight: 700;
    size: 13px;
    line-height: 21.03px;
    transition: all 1s;
    background-color: white;
}

.boton-rechazar-nuevo:hover{
    color: #005896;
    border: 1px solid #005896;
    background-color: #EFF8FF;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}



.boton-descargar-todo {
    color: white;
    background-color: rgba(18, 45, 64, 0.7);
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    font-weight: 400;
    size: 13px;
    line-height: 21.03px;
    transition: all 0.5s;
    cursor: pointer;
}





/* BOTONERA FILTRO FECHAS */
.filtros-fechas {
    height: 35px;
    width: 350px;
    background-color: #EFF8FF;
    border-radius: 10px;

    display: flex;
    align-items: center;
    padding: 0px 3px 0px 3px;
    margin-left: 50px;
    gap: 0;
}

.filtros-fechas-boton {
    border: none;
    background-color: #EFF8FF;
    color: var(--color-secundario);
    border-radius: 10px;
    padding: 5px, 12px, 5px, 12px;
    gap: 10px;
    height: 90%;
    width: 100%;

    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
}


.filtros-fechas-boton.seleccionado {
    background-color: white;
}






/* BOTON DESCARGA */
.boton-descargar {
    border: none;
    width: 43px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    color: var(--color-secundario);
}

.boton-descargar:hover {
    background-color: var(--color-apoyo1);
}










/* BOTON ESTADO */
.estado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}


.estado-nombre {
    border: none;
    width: 196px;
    height: 43px;
    background-color: white;
    color: var(--color-secundario);
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;

}

.estado-nombre.relative {
    position: relative;
}

.estado-cantidad {
    background-color: white;
    color: black;
    padding: 2px 10px;
    border: 0.5px solid #B3BCC9;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    margin-left: 6px;
}

.estado-cantidad.loading::after {
  content: ''; /* Create a pseudo-element for the loader */
  position: absolute;
  right: 28%;
  top: 34%;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  border-top-color: #333; /* Change loader color */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Apply animation */

}
.estado-cantidad.loading.todos::after {
    right: 34%;
}

@keyframes spin {
  to {
    transform: rotate(360deg); /* Rotate the loader */
  }
}


.estado-nombre:hover {
    background-color: var(--color-apoyo1);
}

.estado-nombre.seleccionado {
    background-color: var(--color-primario);
    color: white;
}

.estado-cantidad.seleccionado {
    color: var(--color-variante-primario);
}