:root {
    --color-primario: #26D07C;
    --color-variante-primario: #1A9156;
    --color-secundario: #002B49;
    --color-variante-secundario: #005896;
    --color-fondo-modales: rgba(0, 0, 0, 0.5);
    --color-secundario-clarito: #0F4063;
    --color-secundario-clarito2: #10456b;
    --color-apoyo1: #F1F1F1;
    --color-apoyo2: #969DA7;
    --color-apoyo3: #747474;

    --color-apoyo4: #68778D;

    --color-5: #D3DBE3;
    --color-6: #E8EDF2;
    --color-7: #EBF3F7;

    --color-alert: #FFA722;
    --color-error: #AE0725;

    --tipografia-primaria: 'Montserrat';
}


/* COMUNES */
.espacio {
    flex: 1;
}

.spacer {
    flex-grow: 1;
}

.secundario {
    background-color: var(--color-secundario);
}

.primario {
    background-color: var(--color-primario);
}

.espacio-abajo {
    margin-bottom: 25px;
}

.desaparecer {
    display: block;
}

.espacio-izquierda{
    margin-left: 20px;
}

@media(max-width: 670px) {
    .desaparecer {
        display: none;
    }
}







/* MOTIVOS */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.form-motivos {
    padding: 25px;
}

.label-input-form-motivos {
    margin-bottom: 10px;
}

.form-motivos-opciones-radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.form-motivos-opciones-radio-element {
    margin-right: 65px;
}

.motivos-input {
    border: 0.5px solid var(--color-apoyo2);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 8px;
}

.form-motivos-opciones-radio-element label {
    display: flex;
    flex-direction: row;
}







/* MODAL DATOS DEL CONTRACARGO */
.modal-datos-contracargo-box {
    margin-top: 12px;
    border-radius: 10px;
    border: solid 1px var(--color-6);
}

.modal-datos-contracargo-content {
    padding: 20px 25px 5px 30px;
    border-bottom: solid 1px var(--color-6);
}

.cabecera {
    background-color: var(--color-apoyo1);
}

.modal-datos-contracargo-content-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.cabecera-nombre {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-secundario);
}

.cabecera-valor {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-secundario);
}

.cabecera-estado {
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--color-variante-secundario);
    color: var(--color-variante-secundario);
    padding: 5px 25px 5px 25px;
}


.lista-datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-datos-elemento {
    flex-basis: calc(33.33% - 10px);
    padding: 10px;
    justify-content: space-between;

}


.item {
    display: flex;
    flex-direction: column;
}

.item-nombre {
    font-weight: 450;
    size: 12px;
    line-height: 21px;
    color: black;
}

.item-valor {
    font-weight: 600;
    size: 13px;
    line-height: 21px;
    color: black;
}



/* MODAL BOTONES */
.modal-datos-contracargo-content-botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.modal-datos-contracargo-content-botones-item {
    padding: 3px;
}




/* MODAL TABLA HISTORIAL*/
.modal-tabla-historial {
    margin-top: 25px;
    border-radius: 10px;
    border: solid 1px var(--color-6);
    padding: 20px;
    margin-bottom: 50px;
}

.modal-tabla-historial-titulo {
    font-weight: 500;
    size: 16px;
    line-height: 25px;
    color: var(--color-secundario);
}

.menor-tamaño {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .close-modal-icon{
    margin-top: -4px;
  }

  .pagination-arrow-icon{
    margin-top: -4px;
  }
  
.fas.disabled,
.fas.disabled:hover{
  color: #b5b5b5;
  cursor: default !important;
} 

.svgfas.disabled,
.svgfas.disabled:hover{
  cursor: default !important;
} 






