.nuevo-menu{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;

    padding: 15px;
    gap: 10px;
    position: fixed;
    width: auto;
    height: 46px;
    left: 230px;
    right: 30px;
    top: 165px;
}


.boton-nuevo{
    border: none;
    background-color: white;
    color: var(--color-secundario);
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    border-radius: 0 0 5px 5px;
}

.separador-menu-nuevo{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: gray;
}

.seleccionado-menu-nuevo{
    /* background-color: #eef0f5; */
    background-color: var(--color-primario);
    color: white;
}







/* barra lateral izquierda */
.sidebar {
    position: fixed; /*asi permanece en todo el alto de la pagina*/
    top: 4.5rem;
    /* top: 2rem; */
    left: 220px;
    /* left: 50px; */
    height: 100%;
    width: 75px;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    z-index: 100;

    background-color: #002B49;
    color: white;
}


.menu {
    padding: 20px;
    margin-top: 60px;
    flex: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    border: none;
}

.menu-item a{
    text-decoration: none;
}



.menu-item-icono {
    /* Primario */
    background: var(--color-secundario);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;
    width: 38px;
    height: 38px;
}

.menu-item-icono.seleccionado {
    background-color: var(--color-primario);
}



.menu-subtitle {
    margin-bottom: 10px;
    color: #777;
    font-weight: bold;
}

.espacio {
    margin-bottom: 50px;
}


.btn-cerrar-sesion {
    margin-bottom: 10px;
    background-color: #002B49;
    border: none;
    color: white;
    
}



.logo {
    z-index: 2;
    position: absolute;
    left: 8px;
    right: 18.22%;
    top: 15px;
    bottom: 95.31%;
    width: 58px;
    height: 33px;
}




#navbar-responsive{
    display: none;
}



/* espacio blanco antes de navegador*/
.tapada-de-scroll{
    height: 53px;
    width: auto;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 72px;
    right: 0;
    left: 202px;
}




/* navegador superior */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;

    padding: 15px;
    gap: 10px;
    position: fixed;
    width: auto;
    height: 46px;
    left: 230px;
    right: 30px;
    top: 125px;

    background: white;
    border-bottom: 2px solid var(--color-primario);
}



.toolbar-titulo {
    position: absolute;
    width: auto;
    height: 32px;
    top: 11px;

    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    /* Secundario */
    color: #595b62;

    flex: 1;
}


.toolbar-content-nombre-icono {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.toolbar-nombreUsuario {

    /* Labels */
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    margin-right: 10px;

    /* Secundario */
    color: black;


    /* Inside auto layout */
    flex: none;
    /* order: 0; */
    flex-grow: 0;
}


.toolbar-icono {
    width: 25px;
    height: 25px;

    color: #002B49;
}


.toolbar-menu{
    display: flex;
}


.icono-activar-menu{
    background: var(--color-secundario);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    border: none;
    border-radius: 5px;
    width: 38px;
    height: 38px;

    right: 0px;
    top: 2px;
}

.a-boton{
    text-decoration: none;
}

.icono-activar-menu.seleccionado {
    color: var(--color-apoyo2);
}


.ocupar-espacio{
    opacity: 0.5; /* Cambia este valor para ajustar la transparencia */
    color: var(--color-secundario);
}

/*Modal menu responsive*/
.modal-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 6.8rem;
    right: 0;
    left: 220px;
    /* background-color: var(--color-fondo-modales); */
    z-index: 9999;
}

.modal-menu-content {
    width: 20%;
    height: 25%;
    background-color: var(--color-secundario);
    box-sizing: border-box;
}


.modal-menu-content-cabecera{
    display: flex;
    align-items: center;
    padding: 10px;

}

.logo-menu{
    z-index: 2;
    left: 8px;
    right: 18.22%;
    top: 0px;
    width: 58px;
    height: 33px;
}

.modal-close-menu{
    position: absolute;
    background-color: var(--color-secundario);
    top: 6px;
    right: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.modal-close-menu i{
    font-size: 1.5rem;
}

.modal-menu-content-options{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.modal-menu-content-options-option{
    color: white;
    padding: 20px;
    border: 1px solid var(--color-secundario-clarito);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.modal-menu-content-options-option.seleccionado{
    background-color: var(--color-secundario-clarito2);
}

.modal-menu-content-options-option:hover{
    background-color: var(--color-secundario-clarito);
    cursor: pointer;
}

.modal-menu-content-options-option-name{
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    margin-left: 10px;
}







/*RESPONSIVE WEB PRIVADA*/
@media(max-width: 995px){

    .toolbar{
        left: 0px;
        top: 0;
        position: inherit;
    }

    .nuevo-menu{
        left: 0px;
        position: inherit;
    }

    .tapada-de-scroll{
        left: 0px;
        display: none;
    }

}




@media(max-width: 470px){

    .toolbar-titulo{
        font-weight: 600;
        font-size: 15px;
        line-height: 32px;
    }
}

@media(max-width: 440px){

    .nuevo-menu{
        top: 70px;
        display: flex;
        flex-direction: row;
    }

    #espacio{
        display: none;
    }

    .boton-nuevo{
        font-weight: 600;
        font-size: 11px;
        line-height: 25px;
    }

}


@media(max-width: 350px){

    .toolbar-titulo{
        font-weight: 600;
        font-size: 13px;
        line-height: 32px;
    }

    .nuevo-menu{
        top: 60px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
}


